#logo{text-align:center;}
#logo img{width:600px;}
#recherche{text-align:center;}
#recherche img{width:100%;}
#ligne1 .col-md-4,#ligne2 .col-md-4,#ligne3 .col-md-4 {text-align:center;}
#ligne1 img,#ligne2 img,#ligne3 img{width:100%;}
#rs{font-size:90px;text-align:center;}